# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# avoid PR to overwrite version data
version.properties

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
local.properties
